/////////////////////////////////////////////////////////
// Config for the JMusicBot                            //
/////////////////////////////////////////////////////////
// Any line starting with // is ignored                //
// You MUST set the token and owner                    //
// All other items have defaults if you don't set them //
/////////////////////////////////////////////////////////


token = BOT_TOKEN_HERE

owner = 0 // OWNER ID

prefix = "?"
altprefix = "NONE"
game = "DEFAULT"
status = ONLINE
songinstatus = false

success = "🎶"
warning = "💡"
error = "🚫"
loading = "⌚"
searching = "🔎"

help = help
npimages = false
stayinchannel = false
maxtime = 0
maxytplaylistpages = 10
skipratio = 0.55
alonetimeuntilstop = 0
playlistsfolder = "Playlists"
updatealerts = true

lyrics.default = "A-Z Lyrics"

aliases {
  settings = [ status ]
  nowplaying = [ np, current ]
  play = []
  playlists = [ pls ]
  queue = [ list ]
  remove = [ delete ]
  search = [ ytsearch ]
  skip = [ voteskip ]
  prefix = [ setprefix ]
  setdj = []
  setskip = [ setskippercent, skippercent, setskipratio ]
  settc = []
  setvc = []
  forceremove = [ forcedelete, modremove, moddelete, modelete ]
  forceskip = [ modskip ]
  movetrack = [ move ]
  pause = []
  playnext = []
  queuetype = []
  repeat = []
  skipto = [ jumpto ]
  stop = [ leave ]
  volume = [ vol ]
}

loglevel = info
transforms = {}
eval = false
evalengine = "Nashorn"

webenabled = true
webport = 8888
webauthenabled = false
webdiscordclientid = ""
webdiscordclientsecret = ""
webdiscordredirecturi = ""

maxhistorysize = 50

spotify {
  enabled = false
  clientid = ""
  clientsecret = ""
  market = "US"
  maxplaylisttracks = 100
}
